<div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px">
</div>

<script>
    (function(t,a,l,k,j,s){
        s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
        ;k=t.Promise;t.Talk={v:3,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
                    .push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);


    Talk.ready.then(function() {
        var me = new Talk.User({
            id: name,
            name: name
        });

        window.talkSession = new Talk.Session({
            appId: "<%= ENV['TALKJS_APP_ID'] %>",
            me: me
        });

        var conversation = window.talkSession.getOrCreateConversation('<%= @session_id %>');
        conversation.setParticipant(me);
        conversation.setAttributes({
            photoUrl: "https://play-lh.googleusercontent.com/N-JyvZjqZhnvydN9Q7Hbzwh6aAQmvnAmf1TjlvqHpCnvVl5zwSU7jlJH0uLFpNiRFw",
            subject: "Chat da Globo"
        });

        var chatbox = talkSession.createChatbox(conversation, {
            // Don't use the default header provided by TalkJS
            showChatHeader: false,
        });
        chatbox.mount(document.getElementById("talkjs-container"));
    });
</script>